Repository forgeno/CMPUT404-group-project, pull requests merged in 2019-02, with the labels that each got.

#11 sideBar visually added and frontend folder structure changed
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/#SideBar.jsx#
  frontend/src/components/SideBar.css
  frontend/src/components/SideBar.jsx
  frontend/src/pages/Stream.jsx
Labels: frontend

#16 Simple post backend
  backend/api/endpoints.py
  backend/api/migrations/0002_post.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/view/PostView.py
  frontend/src/actions/notes.js
  project_404_T5/webpack-stats.dev.json
Labels: backend

#36 Setup backend testing
  backend/api/tests.py
  backend/api/tests/test_AuthorProfile.py
  backend/api/tests/test_Login.py
  backend/api/view/AuthorProfileView.py
  backend/api/views.py
  project_404_T5/webpack-stats.dev.json
  requirements.txt
Labels: backend

#37 Update models
  backend/api/api.py
  backend/api/endpoints.py
  backend/api/migrations/0001_initial.py
  backend/api/models.py
  backend/api/serializers.py
Labels: backend

#40 Category get endpoint
  backend/api/endpoints.py
  backend/api/serializers.py
  backend/api/tests/__init__.py
  backend/api/tests/test_category.py
  backend/api/view/CategoryView.py
  backend/api/view/__init__.py
  project_404_T5/webpack-stats.dev.json
Labels: backend

#48 Webpack fix
  backend/webpack-stats.dev.json
  frontend/config/paths.js
  frontend/config/webpack.config.js
  project_404_T5/webpack-stats.dev.json
Labels: setup

#50 Fixed state -> props mapping for login so it routes properly
  backend/api/migrations/0001_initial.py
  backend/webpack-stats.dev.json
  frontend/src/components/LoginFormComponent.jsx
  frontend/src/components/RegisterFormComponent.jsx
  frontend/src/pages/Login.jsx
  frontend/src/test-components/TestHTTPRequest.jsx
Labels: frontend

#49 added cors headers for cross origin
  backend/project_404_T5/settings.py
  requirements.txt
Labels: setup

#52 Models update
  backend/api/migrations/0002_auto_20190217_0436.py
  backend/api/migrations/0003_auto_20190217_0447.py
  backend/api/models.py
Labels: backend

#59 Post end point v2
  backend/api/endpoints.py
  backend/api/migrations/0002_auto_20190217_0545.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests/test_Post.py
  backend/api/view/AuthorProfileView.py
  backend/api/view/CategoryView.py
  backend/api/view/CreatePostView.py
  backend/api/view/LoginView.py
  backend/api/view/PostView.py
  backend/api/view/RegistrationView.py
  backend/api/view/__init__.py
Labels: backend

#61 Author-007: Endpoint for Author
  backend/api/admin.py
  backend/api/endpoints.py
  backend/api/serializers.py
  backend/api/tests/test_AuthorProfile.py
  backend/api/tests/test_category.py
  backend/api/view/AuthorProfileView.py
Labels: backend

#76 Author 006 a signuplogin ui
  .gitignore
  backend/webpack-stats.dev.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/fonts/Bangers-Regular.ttf
  frontend/src/assets/fonts/Monoton-Regular.ttf
  frontend/src/assets/images/LoginWallpaper.png
  frontend/src/assets/images/cloudsLogin.png
  frontend/src/components/LoginFormComponent.jsx
  frontend/src/components/RegisterFormComponent.jsx
  frontend/src/components/styles/Login.css
  frontend/src/components/styles/LoginInputText.css
  frontend/src/components/styles/RegisterFormComponent.css
  frontend/src/pages/Login.jsx
  frontend/src/pages/styles/Login.css
  frontend/src/reducers/LoginReducers.js
  frontend/src/test-components/TestHTTPRequest.jsx
  requirements.txt
Labels: frontend

#77 Added tabs and friend request button, no backend functionality
  frontend/src/pages/Profile.jsx
  frontend/src/pages/styles/Profile.css
Labels: frontend

#75 Put request for updating and creating posts
  backend/api/endpoints.py
  backend/api/tests/test_Post.py
  backend/api/view/CreatePostView.py
Labels: backend

#72 Visible to endpoint
  backend/api/endpoints.py
  backend/api/migrations/0003_auto_20190220_0502.py
  backend/api/models.py
  backend/api/tests/test_Login.py
  backend/api/tests/test_Post.py
  backend/api/tests/test_category.py
  backend/api/view/CreatePostView.py
Labels: backend
