Repository forgeno/CMPUT404-group-project, pull requests merged in 2019-03, with the labels that each got.

#70 endpoint for getting all public post
  backend/api/tests/test_Post.py
  backend/api/view/CreatePostView.py
Labels: backend

#83 Ci patch
  .travis.yml
  requirements.txt
Labels: setup

#78 Put request for post
  backend/api/endpoints.py
  backend/api/tests/test_Post.py
  backend/api/view/CreatePostView.py
Labels: backend

#74 Friends endpoint
  backend/api/endpoints.py
  backend/api/tests/test_Friends.py
  backend/api/view/FriendsView.py
Labels: backend

#86 Update profile
  backend/api/serializers.py
  backend/api/tests/test_AuthorProfile.py
  backend/api/view/AuthorProfileView.py
Labels: backend

#89 Followers endpoint fix
  backend/api/serializers.py
  backend/api/tests/test_CheckFollowers.py
  backend/api/view/CheckFollowersView.py
Labels: backend

#91 Unfollow endpoint
  backend/api/endpoints.py
  backend/api/tests/test_Friends.py
  backend/api/view/FriendsView.py
Labels: backend

#98 Get posts by author endpoint
  backend/api/endpoints.py
  backend/api/tests/test_GetPostsView.py
  backend/api/tests/test_Post.py
  backend/api/tests/util.py
  backend/api/view/CreatePostView.py
  backend/api/view/GetPostsView.py
  backend/api/view/Util.py
Labels: backend

#106 Post source origin fix
  backend/api/tests/test_Post.py
  backend/api/view/CreatePostView.py
  backend/api/view/RegistrationView.py
  backend/project_404_T5/settings.py
Labels: backend

#105 Followers endpoint fix
  backend/api/tests/test_CheckFollowers.py
  backend/api/tests/test_CheckFriends.py
  backend/api/view/CheckFollowersView.py
  backend/api/view/CheckFriendsView.py
Labels: backend

#104 added server node model and registered models to admin
  backend/api/admin.py
  backend/api/migrations/0005_servernode.py
  backend/api/models.py
  backend/project_404_T5/settings.py
Labels: backend

#108 Get post with id
  backend/api/tests/test_AuthorProfile.py
  backend/api/tests/test_Post.py
  backend/api/tests/util.py
  backend/api/view/CreatePostView.py
  backend/api/view/Util.py
Labels: backend

#109 Get posts for stream
  backend/api/endpoints.py
  backend/api/tests/test_StreamPosts.py
  backend/api/tests/util.py
  backend/api/view/StreamPostsView.py
  backend/api/view/Util.py
Labels: backend

#114 Route profile
  backend/api/tests/test_AuthorProfile.py
  backend/api/view/AuthorProfileView.py
  backend/webpack-stats.dev.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/AboutProfileComponent.jsx
  frontend/src/components/ProfileBubble.jsx
  frontend/src/components/RegisterFormComponent.jsx
  frontend/src/components/SideBar.jsx
  frontend/src/components/styles/AboutProfileComponent.css
  frontend/src/pages/Author.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Profile.jsx
  frontend/src/pages/styles/Author.css
  frontend/src/pages/styles/Profile.css
  frontend/src/util/utils.js
Labels: frontend

#117 Author profile posts
  frontend/package-lock.json
  frontend/src/components/AboutProfileComponent.jsx
  frontend/src/pages/Author.jsx
  frontend/src/pages/styles/Author.css
Labels: frontend

#118 Frontend routing
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/actions/LoginActions.js
  frontend/src/components/HigherOrder/withAuth.jsx
  frontend/src/components/SideBar.jsx
  frontend/src/pages/Logout.jsx
  frontend/src/reducers/LoginReducers.js
Labels: frontend

#113 Friendlist panel
  backend/api/admin.py
  backend/api/view/AuthorProfileView.py
  backend/project_404_T5/settings.py
  backend/webpack-stats.dev.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/FriendsActions.js
  frontend/src/components/FriendsListComponent.jsx
  frontend/src/components/LoginFormComponent.jsx
  frontend/src/components/styles/FriendsListComponent.css
  frontend/src/components/styles/LoginInputText.css
  frontend/src/components/styles/SideBar.css
  frontend/src/pages/Author.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/pages/styles/Friends.css
  frontend/src/pages/styles/Login.css
  frontend/src/reducers/FriendsReducers.js
  frontend/src/reducers/LoginReducers.js
  frontend/src/reducers/index.js
  frontend/src/util/utils.js
Labels: frontend

#119 Conditional rendering of follow button
  .gitignore
  backend/webpack-stats.dev.json
  frontend/src/pages/Author.jsx
  frontend/src/pages/styles/Author.css
Labels: frontend

#129 Author page fix
  backend/project_404_T5/settings.py
  frontend/src/components/FriendsListComponent.jsx
  frontend/src/components/ProfileBubble.jsx
  frontend/src/components/SideBar.jsx
  frontend/src/pages/Author.jsx
  frontend/src/util/utils.js
Labels: bug, frontend

#131 fixed names
  frontend/src/components/FriendsListComponent.jsx
  frontend/src/components/ProfileBubble.jsx
  frontend/src/components/SideBar.jsx
  frontend/src/pages/Author.jsx
  frontend/src/util/utils.js
Labels: frontend

#132 fixed endpoint to be sorted
  backend/api/tests/test_Post.py
  backend/api/view/CreatePostView.py
Labels: backend, bug

#133 fixed public post to hide unlisted posts
  backend/api/tests/test_Post.py
  backend/api/view/CreatePostView.py
Labels: backend, bug

#134 Fixed so that authors can view their own unlisted post if they are th…
  backend/api/tests/test_GetPostsView.py
  backend/api/view/GetPostsView.py
Labels: backend

#110 Update README.md
  README.md
Labels: documentation

#147 Cs follow request v2
  backend/api/admin.py
  backend/api/migrations/0006_auto_20190324_0040.py
  backend/api/migrations/0007_auto_20190324_0118.py
  backend/api/migrations/0008_auto_20190324_0156.py
  backend/api/models.py
  backend/api/tests/test_Friends.py
  backend/api/view/FriendsView.py
  backend/api/view/Util.py
  backend/project_404_T5/settings.py
  backend/webpack-stats.dev.json
Labels: backend

#149 Cs get stream posts
  backend/api/serializers.py
  backend/api/view/CreatePostView.py
  backend/api/view/GetPostsView.py
  backend/api/view/StreamPostsView.py
  backend/api/view/Util.py
  backend/webpack-stats.dev.json
Labels: backend

#162 Cross server fix
  backend/api/migrations/0009_serveruser_prefix.py
  backend/api/migrations/0010_auto_20190325_2235.py
  backend/api/models.py
  backend/api/view/FriendsView.py
  backend/api/view/StreamPostsView.py
Labels: backend, cross server

#166 fixed url
  backend/api/view/CreatePostView.py
Labels: backend, bug

#167 Cs single post
  backend/api/view/CreatePostView.py
  backend/api/view/StreamPostsView.py
  backend/project_404_T5/settings.py
  frontend/src/components/StreamPost.jsx
Labels: backend, cross server, frontend

#173 finished cross server unfollow
  backend/api/tests/test_Friends.py
  backend/api/view/FriendsView.py
  frontend/src/pages/Author.jsx
Labels: backend, cross server

#172 Cs get author posts
  backend/api/tests/test_GetPostsView.py
  backend/api/view/AuthorProfileView.py
  backend/api/view/CheckFollowersView.py
  backend/api/view/GetPostsView.py
  frontend/src/pages/Author.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/util/utils.js
Labels: backend, cross server

#148 Comments Endpoint
  backend/api/endpoints.py
  backend/api/migrations/0011_auto_20190328_1353.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests/test_PostComments.py
  backend/api/tests/util.py
  backend/api/view/CreatePostView.py
  backend/api/view/GetPostsView.py
  backend/api/view/PostCommentsView.py
  backend/api/view/StreamPostsView.py
  backend/api/view/Util.py
Labels: backend

#182 Author profile fix
  backend/api/view/AuthorProfileView.py
  backend/api/view/CreatePostView.py
  backend/api/view/FriendsView.py
  backend/api/view/GetPostsView.py
  backend/api/view/StreamPostsView.py
Labels: backend, bug

#183 404 page
  frontend/public/404Image.png
  frontend/public/index.html
  frontend/src/assets/images/404Image.png
  frontend/src/components/NotFound.jsx
  frontend/src/components/styles/NotFound.css
Labels: frontend
