Repository forgeno/CMPUT404-group-project, pull requests merged in 2019-04, with the labels that each got.

#185 Github activity in stream
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/images/gitcat.jpg
  frontend/src/components/StreamFeed.jsx
  frontend/src/components/StreamPost.jsx
  frontend/src/pages/Author.jsx
  frontend/src/pages/Stream.jsx
Labels: frontend

#178 New profile pictures
  frontend/src/assets/images/default2.png
  frontend/src/components/FriendsListComponent.jsx
  frontend/src/components/ProfileBubble.jsx
  frontend/src/components/SideBar.jsx
  frontend/src/components/StreamFeed.jsx
  frontend/src/components/styles/FriendsListComponent.css
  frontend/src/components/styles/ProfileBubble.css
  frontend/src/components/styles/SideBar.css
  frontend/src/components/styles/StreamFeed.css
  frontend/src/components/styles/StreamPost.css
  frontend/src/pages/Author.jsx
  frontend/src/pages/Friends.jsx
  frontend/src/pages/PublicStream.jsx
  frontend/src/pages/SinglePost.jsx
  frontend/src/pages/styles/Author.css
  frontend/src/pages/styles/Friends.css
  frontend/src/pages/styles/PublicStream.css
  frontend/src/pages/styles/Stream.css
Labels: frontend

#180 Login bugs
  frontend/src/actions/LoginActions.js
  frontend/src/actions/RegisterActions.js
  frontend/src/actions/index.js
  frontend/src/components/LoginFormComponent.jsx
  frontend/src/components/RegisterFormComponent.jsx
  frontend/src/reducers/LoginReducers.js
  frontend/src/reducers/RegisterReducers.js
  frontend/src/reducers/index.js
Labels: bug, frontend

#196 Staging
  README.md
  backend/api/endpoints.py
  backend/api/migrations/0011_auto_20190328_1353.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests/test_CheckFriends.py
  backend/api/tests/test_GetPostsView.py
  backend/api/tests/test_Post.py
  backend/api/tests/test_PostComments.py
  backend/api/tests/util.py
  backend/api/view/CheckFriendsView.py
  backend/api/view/CreatePostView.py
  backend/api/view/FriendsView.py
  backend/api/view/GetPostsView.py
  backend/api/view/PostCommentsView.py
  backend/api/view/StreamPostsView.py
  backend/api/view/Util.py
  backend/project_404_T5/settings.py
  frontend/package-lock.json
  frontend/src/components/CommentsOnPost.jsx
  frontend/src/components/StreamPost.jsx
  frontend/src/components/VisibilitySettings.jsx
  frontend/src/components/styles/CommentsOnPost.css
Labels: backend, bug, cross server, frontend

#201 Bug fixes
  backend/api/migrations/0012_serveruser_require_trailing_slash.py
  backend/api/models.py
  backend/api/view/PostCommentsView.py
  frontend/src/components/StreamPost.jsx
  frontend/src/pages/Friends.jsx
Labels: bug

#204 removing trailing slash that will break michael's team
  backend/api/view/Util.py
Labels: backend

#206 fixed followers bug
  backend/api/view/CheckFollowersView.py
  backend/api/view/CreatePostView.py
Labels: backend, bug

#207 Loader issues
  frontend/package-lock.json
  frontend/src/components/CommentsOnPost.jsx
  frontend/src/components/StreamFeed.jsx
  frontend/src/pages/Stream.jsx
Labels: UI improve, frontend

#212 Polling fix
  backend/api/endpoints.py
  backend/api/tests/test_FriendRequestCountView.py
  backend/api/view/FriendRequestCountView.py
  frontend/src/actions/FriendsActions.js
  frontend/src/components/SideBar.jsx
  frontend/src/components/StreamFeed.jsx
  frontend/src/reducers/FriendsReducers.js
Labels: backend, frontend

#213 Polling only when previous poll request has finished.
  frontend/src/components/SideBar.jsx
  frontend/src/reducers/FriendsReducers.js
Labels: frontend

#208 Comments now in state managed by stream post. Saved when modal closes.
  frontend/src/components/CommentsOnPost.jsx
  frontend/src/components/StreamPost.jsx
Labels: frontend

#211 unlisted post impossible to get bug
  backend/api/tests/test_Post.py
  backend/api/view/CreatePostView.py
  backend/api/view/Util.py
Labels: backend, bug

#217 unlisted icon added for unlisted posts
  frontend/src/components/StreamPost.jsx
  frontend/src/components/styles/StreamPost.css
Labels: frontend

#218 clear redux store on logout
  frontend/src/actions/FriendsActions.js
  frontend/src/actions/ProfileActions.js
  frontend/src/pages/Logout.jsx
  frontend/src/reducers/FriendsReducers.js
  frontend/src/reducers/ProfileReducers.js
Labels: bug, frontend

#219 authorID url fixed
  frontend/src/pages/Author.jsx
Labels: bug, frontend

#220 screenshots folder with frontend pics
  screenshots/author_page.png
  screenshots/comments1.png
  screenshots/comments2.png
  screenshots/comments3.png
  screenshots/create_post_categories.png
  screenshots/create_post_visibility_settings.png
  screenshots/creating_post_img.png
  screenshots/creating_post_img2.png
  screenshots/creating_post_markdown.png
  screenshots/creating_post_markdown2.png
  screenshots/creating_post_page1.png
  screenshots/creating_post_page2.png
  screenshots/creating_post_plaintext.png
  screenshots/deletePost.png
  screenshots/diffHostAuthor.png
  screenshots/diffHostFriendRequest.png
  screenshots/diffHostFriends.png
  screenshots/diffHostPost.png
  screenshots/editAuthor.png
  screenshots/editAuthor2.png
  screenshots/foaf.png
  screenshots/friends.png
  screenshots/githubActivity.png
  screenshots/private1.png
  screenshots/private2.png
  screenshots/public.png
  screenshots/publicPosts.png
  screenshots/serveronly.png
  screenshots/singlePost.png
  screenshots/singlePost2.png
  screenshots/singlePost3.png
  screenshots/unlisted1.png
  screenshots/unlisted2.png
Labels: setup
